<!-- One -->
<section id="One" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>Share your Ride.</p>
      <h2>Create Pool</h2>
    </header>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <h2>Create Pool Form</h2>
        </header>
        <form method="post" action="#">
          <div class="row uniform">
            <div class="6u 12u$(xmedium)">
              <label for="name">Driver Name</label>
              <input type="text" name="name" id="name" value="" placeholder="Name" />
            </div>
            <div class="6u 12u$(xmedium)">
              <label for="phonenumber">Mobile Number</label>
              <input type="text" name="phonenumber" id="phonenumber" value="" placeholder="Mobile Number" />
            </div>
            <!-- Break -->
            <div class="6u$ 12u$(xlarge)">
              <label for="email">Email ID</label>
              <input type="email" name="email" id="email" value="" placeholder="Email" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="location">Location</label>
              <input type="text" name="location" id="location" value="" placeholder="Starting From" />
            </div>
            <div class="6u 12u$(xmedium)">
              <label for="destination">Destination</label>
              <input type="text" name="destination" id="destination" value="" placeholder="Final Stop" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="date">Date</label>
              <input type="date" name="date" id="date" value="" placeholder="Travel Date" />
            </div>
            <div class="6u 12u$(xmedium)">
              <label for="time">Starting Time</label>
              <input type="time" name="time" id="time" value="" placeholder="Starting Time" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="seats">Seats available</label>
              <input type="number" name="seats" id="seats" value="" placeholder="Seats Available" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="ac">AC</label>
              <div class="select-wrapper">
                <select name="ac" id="ac">
                            <option value="">- Select -</option>
                            <option value="1">Yes</option>
                            <option value="1">No</option>
                          </select>
              </div>
            </div>
            <!-- Break -->
            <div class="12u$">
              <label for="message">Comments</label>
              <textarea name="message" id="message" placeholder="Comments" rows="3"></textarea>
            </div>
            <!-- Break -->
            <div class="12u$">
              <ul class="actions">
                <li><input type="submit" class="button" value="Register" /></li>
                <li><input type="reset" value="Reset" class="alt" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
