<!-- One -->
<section id="One" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>Share your Ride.</p>
      <h2>Create Pool</h2>
    </header>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <h2>Create Pool Form</h2>
        </header>
        <form>
          <div class="row uniform">
            <div class="6u 12u$(xmedium)">
              <label for="location">Location</label>
              <input type="text" name="location" id="location" [(ngModel)]="createPoolDetail.location" value="" placeholder="Starting From" />
            </div>
            <div class="6u 12u$(xmedium)">
              <label for="destination">Destination</label>
              <input type="text" name="destination" id="destination" [(ngModel)]="createPoolDetail.destination" value="" placeholder="Final Stop" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="date">Date</label>
              <input type="date" name="date" id="date" [(ngModel)]="createPoolDetail.date" value="" placeholder="Travel Date" />
            </div>
            <div class="6u 12u$(xmedium)">
              <label for="time">Starting Time</label>
              <input type="time" name="time" id="time" [(ngModel)]="createPoolDetail.time" value="" placeholder="Starting Time" />
            </div>
            <!-- Break -->
            <div class="12u$">
              <ul class="actions">
                <li><input type="button" (click)="gotoVehicleRegistration()" value="Add Vehicle" /></li>
                <li><input type="submit" class="button" (click)="gotoMyPool()" value="Create" /></li>
                <li><input type="reset" value="Reset" class="alt" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
