<!-- Header -->
<header id="header">
  <div class="logo"><a href="www.rapidvaluesolutions.com">RapidRide <span>by RapidValue</span></a></div>
</header>

<!-- One -->
<section id="One" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>Welcome to RapidRide</p>
      <h2>RapidRide</h2>
    </header>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <h2>Registration Form</h2>
        </header>
        <form>
          <div class="row uniform">
            <div class="6u 12u$(xmedium)">
              <label for="userName">Name</label>
              <input type="text" name="userName" id="userName" [(ngModel)]="userDetail.userName" value="" placeholder="Name" />
            </div>
            <!-- Break -->
            <div class="6u$ 12u$(xmedium)">
              <label for="emailID">Email ID</label>
              <input type="email" name="emailID" id="emailID" [(ngModel)]="userDetail.emailID" value="" placeholder="Email" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="phoneNumber">Mobile Number</label>
              <input type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="userDetail.phoneNumber" value="" placeholder="Mobile Number" />
            </div>
           <!-- Break -->
           <div class="6u 12u$(xmedium)">
              <label for="age">Age</label>
              <input type="number" name="age" id="age" [(ngModel)]="userDetail.age" value="" placeholder="Age" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="gender">Gender</label>
              <div class="select-wrapper">
                <select name="gender" [(ngModel)]="userDetail.gender" id="gender">
                  <option value="">- Select -</option>          
                  <option *ngFor="let genders of gender" value="{{genders.value}}">{{genders.title}}</option>
                </select>
              </div>
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="companyName">Company Name</label>
              <input type="text" name="companyName" id="companyName" [(ngModel)]="userDetail.companyName" value="" placeholder="Company Name" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="licenseNumber">License Number</label>
              <input type="text" name="licenseNumber" id="licenseNumber" [(ngModel)]="userDetail.licenseNumber" value="" placeholder="License Number" />
            </div>
            <!-- Break -->
            <div class="12u$">
              <ul class="actions">
                <li><input type="submit" (click)="gotoDashboard()" value="Register" /></li>
                <li><input type="reset" value="Reset" class="alt" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; RapidRide. All rights reserved.
  </div>
</footer>