<!-- <div class="mypool-container">
  <div class="mypoolBox">
    <h1 align='center'>My Pool</h1>
    <table class="table">
      <tr>
        <th>TripID</th>
        <th>Duration</th>
        <th>Location</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Time</th>
        <th>Vehicle</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let mypools of mypool; let i = index">
        <td>{{mypools.tripid}}</td>
        <td >{{mypools.duration}}</td>
        <td >{{mypools.location}}</td>
        <td >{{mypools.destination}}</td>
        <td >{{mypools.date}}</td>
        <td >{{mypools.time}}</td>
        <td >{{mypools.vehicle}}</td>
        <td >{{mypools.price}}</td>
        <td>
        <button type="submit" class="btn del btn-danger" (click)="remove(mypools)">Delete</button>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <button type="submit" class="btn bac btn-primary" (click)=gotoDashboard()>Back</button>
    </div>
  </div>
</div> -->

<!-- One -->
<section id="One" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>History of Created Pools.</p>
      <h2>My Pools</h2>
    </header>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <h2>My Pools</h2>
        </header>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Item 1</td>
                <td>Ante turpis integer aliquet porttitor.</td>
                <td>29.99</td>
              </tr>
              <tr>
                <td>Item 2</td>
                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                <td>19.99</td>
              </tr>
              <tr>
                <td>Item 3</td>
                <td> Morbi faucibus arcu accumsan lorem.</td>
                <td>29.99</td>
              </tr>
              <tr>
                <td>Item 4</td>
                <td>Vitae integer tempus condimentum.</td>
                <td>19.99</td>
              </tr>
              <tr>
                <td>Item 5</td>
                <td>Ante turpis integer aliquet porttitor.</td>
                <td>29.99</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"></td>
                <td>100.00</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
