<!-- Header -->
<header id="header">
  <div class="logo"><a href="www.rapidvaluesolutions.com">RapidRide <span>by RapidValue</span></a></div>
</header>

<!-- Banner -->
<section class="banner full">
  <article>
    <img src="../../assets/images/slide01.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Wanna a Ride Home with your Co-Worker</p>
        <h2>Find Pool</h2>
      </header>
      <div class="arrow one" (click)="toScroll()"></div>
    </div>
  </article>
  <article>
    <img src="../../assets/images/slide02.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Care to give a Lift to your Co-Worker</p>
        <h2>Create Pool</h2>
      </header>
      <div class="arrow two" (click)="toScroll()"></div>
    </div>
  </article>
  <article>
    <img src="../../assets/images/slide03.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Displays all your Created Pools</p>
        <h2>My Pools</h2>
      </header>
      <div class="arrow three" (click)="toScroll()"></div>
      </div>
  </article>
</section>


<!-- One -->
<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <h2>Login</h2>
        </header>
        <form>
          <div class="row uniform">
            <!-- Break -->
            <div class="6u$ 12u$(xlarge)">
              <label for="email">Email ID</label>
              <input type="email" name="email" id="email" value="" placeholder="Email" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xlarge)">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" value="" placeholder="Password" />
            </div>
            <!-- Break -->
            <div class="12u$ align-center">
              <ul class="actions">
                <li><input type="submit" class="button" value="Sign In" /></li>
                
                <li><input type="button" value="Continue with Google" id="googleSigningBtn" class="alt" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; RapidRide. All rights reserved.
  </div>
</footer>