@media (min-width:801px)  {
    .box{
        width: 30rem;
        margin-left: 26rem;
    }
}

.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    position: absolute;
    cursor: pointer;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }

  .one{
      left: 13rem;
  }

  .two{
      left: 17.7rem;
  }

  .three{
      left: 12.3rem;
  }