<div class="poollist-container">
  <div class="poollistBox">
    <h1 align='center'>Pool List</h1>
    <table class="poollisttable">
      <tr>
        <th>Driver Name</th>
        <th class="d">Phone Number</th>
        <th class="a">Actions</th>
      </tr>
      <tr *ngFor="let poollists of poollist; let i = index">
        <td class="b">{{poollists.drivername}}</td>
        <td class="c">{{poollists.phonenumber}}</td>
        <td><button type="submit" class="btn det btn-success" (click)=gotoPoolDetails(poollists.id)>Details</button></td>
        <td><button type="submit" class="btn sub btn-success" (click)=gotoDashboard()>Request</button></td>
      </tr>
    </table>
    <div class="form-group">
      <button type="submit" class="btn bac btn-success" (click)=gotoFindPool()>Back</button>
    </div>
  </div>
</div>