.poollist-container{
  position: absolute;
  width : 100%;
  height : 100%;
}

.poollistBox{
  position: relative;
  width: 600px;
  height: 438px;
  background-color: #ccc;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -233px;
  margin-left: -273px;
}

.poollisttable{
 margin: 0 auto;
}

td.b{
    padding-left: 2rem;
}

td.c{
    padding-left: 3rem;
} 

th.d{
    padding-left: 2rem;
}

th.a{ 
      padding-left: 18rem;
}

 .btn.sub.btn-success{
    margin-top: -5.5rem;
} 

.btn.det.btn-info{
    margin-left: 23rem;
}

.btn.bac.btn-primary{
    margin-top: 4rem;
    margin-left: 27rem;
} 
.details{
    width: 264px;
    display: inline-block;
    margin-top: 3rem;
}
.request{
    width: 200px;
    display: inline-block;
    text-align: right;
}