/* .poollist-container{
    position: absolute;
    width : 100%;
    height : 100%;
}

.poollistBox{
    position: relative;
    width: 600px;
    height: 475px;
    background-color: #ccc;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin-top: -265px;
    margin-left: -273px;
}

th,td{
    text-align:center; 
    vertical-align:middle;
}

.btn.sub.btn-success{
    margin-top: -5.5rem;
    margin-right: 10rem;
} 

.btn.det.btn-info{
    margin-left: 14rem;
}

.btn.bac.btn-info.active{
    margin-top: -1rem;
    margin-left: 27rem;
}  */