.dashboardContainer{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background: #BABCFB;
}

.slide1{
    position: relative;
    top: 25px;
    background: white;
    width:100%;
    height: calc(100vh - 125px);
}
.slide2{
    position: relative;
    top: 25px;
    background: yellow;
    width:100%;  
    height: calc(100vh - 125px);
}
.slide3{
    position: relative;
    top: 25px;
    background: blue;
    width:100%; 
    height: calc(100vh - 125px);
}

.button{
    height: 150px;
    width: 150px;
    background: black;
}
