<div class="dashboardContainer">
    <ngx-siema [options]="options">
        <ngx-siema-slide>
            <div class="slide1">
                <div class="button" (click)="gotoFindPool()">Find Pool</div>
            </div>
        </ngx-siema-slide>
        <ngx-siema-slide>
            <div class="slide2">
                    <div class="button" (click)="gotoMyPool()">My Pool</div>
            </div>
        </ngx-siema-slide>
        <ngx-siema-slide>
            <div class="slide3">
                    <div class="button" (click)="gotoCreatePool()">Create Pool</div>
            </div>
        </ngx-siema-slide>
    </ngx-siema>
</div>