<!-- One -->
<section id="One" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>Check your Available Rides.</p>
      <h2>Find Pool</h2>
    </header>
  </div>
</section>


<!-- Two -->
<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <h2>Pool Details</h2>
        </header>
        <div class="row">
          <div class="6u 12u$(small)">
            <ul class="alt" *ngFor="let pooldetails of pooldetail;">
              <p>Driver Name : {{pooldetails.drivername}}</p>
              <p>Phone Number : {{pooldetails.phonenumber}}</p>
              <p>Date : {{pooldetails.date}}</p>
              <p>Time : {{pooldetails.time}}</p>
              <p>From : {{pooldetails.from}}</p>
              <p>To : {{pooldetails.to}}</p>
              <p>Vehicle Name : {{pooldetails.vehiclename}}</p>
              <p>Vehicle Number : {{pooldetails.vehiclenumber}}</p>
              <p>Number of Seats : {{pooldetails.numberofseats}}</p>
            </ul>
          </div>
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><button type="submit" (click)=gotoDashboard()>Request</button></li>
            <li><button type="submit" (click)=gotoPoolList()>Back</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>