body {
  width: 100%;
  height: 100%;
}

.findpool-container{
  position: absolute;
  width : 100%;
  height : 100%;
}

.findpoolBox{
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #ccc;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -233px;
  margin-left: -273px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-left: 26rem;
    /* margin-left: 31.5rem;
    margin-top: -8.7rem; */
}
.btn.bck.btn-primary{
    margin-top: -8.5rem;
    margin-left: 31rem;
}
.btn.fnd.btn-success{
    margin-left: 24rem;
}
