<div class="fixedHeader">
  <div class="fixedHeaderAlign">
    <nav>
      <a href="_">About</a>
      <a href="_">Services</a>
    </nav>
    <div>
      <div class="roundButton" (click)="toggleMenu()"></div>
      <div id="settings" *ngIf="newTrustFormVariable" class="tabcontent">
          <div class="box1" (click)="gotoNotification()" ><font color="black">Notification</font><br>
          </div>
          <div class="box2"><font color="black">SignOut</font>
          </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="fixedFooter">
  <div class="fixedFooterAlign">
    <a href="_">Contact  Us</a>
  </div>
</div>
