<!-- Header -->
<header id="header">
    <div class="logo"><a href="http://www.rapidvaluesolutions.com" target="_blank">RapidRide <span>by RapidValue</span></a></div>
    <a href="#menu">Menu</a>
  </header>
  
  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="user/dashboard">Home</a></li>
      <li><a href="user/mypool">My Pool</a></li>
      <li><a href="user/createpool">Create Pool</a></li>
      <li><a href="user/findpool">Find Pool</a></li>
      <li><a href="user/notification">Notifications</a></li>
      <li><a href="login" (click)="SignOut()">Sign Out</a></li>
    </ul>
  </nav>
  


<router-outlet></router-outlet>

<!-- Footer -->
<footer id="footer">
    <div class="container">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy; RapidRide. All rights reserved.
    </div>
  </footer>