<!-- Header -->
<header id="header">
  <div class="logo"><a href="www.rapidvaluesolutions.com">RapidRide <span>by RapidValue</span></a></div>
</header>

<!-- One -->
<section id="One" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>Welcome to RapidRide</p>
      <h2>RapidRide</h2>
    </header>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <h2>Vehicle Registration Form</h2>
        </header>
        <form>
          <div class="row uniform">
            <div class="6u 12u$(xmedium)">
              <label for="name">Vehicle Name</label>
              <input type="text" name="name" id="name" value="" placeholder="Vehicle Name" />
            </div>
            <!-- Break -->
            <div class="6u$ 12u$(xmedium)">
              <label for="vehicleNumber">Vehicle Number</label>
              <input type="text" name="vehicleNumber" id="vehicleNumber" value="" placeholder="Email" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="capacity">Number of Seats</label>
              <input type="number" name="capacity" id="capacity" value="" placeholder="Seat Capacity" />
            </div>
            <!-- Break -->
            <div class="6u 12u$(xmedium)">
              <label for="yearofmanufacture">Year of Manufacture</label>
              <input type="text" name="yearofmanufacture" id="yearofmanufacture" value="" placeholder="Year of Manufacture" />
            </div>
             <!-- Break -->
             <div class="6u 12u$(xmedium)">
              <label for="insurancenumber">Insurance Number</label>
              <input type="text" name="insurancenumber" id="insurancenumber" value="" placeholder="Insurance Number" />
            </div>
            <!-- Break -->
            <div class="12u$">
              <ul class="actions">
                <li><input type="submit" (click)="gotoRegistration()" value="Save" /></li>
                <li><input type="reset" value="Reset" class="alt" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; RapidRide. All rights reserved.
  </div>
</footer>